body {
    background-color: #6491eb;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background-color: #6491eb;
    color: black;
    width: 410px;
    height: 310px;
    padding: 10px;
    margin: 10px;
    position: absolute;
}

h2 {
    color: white;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px black;
}

.box {
    background-color: #000087;
    width: 450px;
    height: 350px;
    box-shadow: 10px 10px 8px;
    background-position: 500px 500px;
}